[class*="col-"]{
    width: 100%;
    float: left;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after{
  content: "";
  clear: both;
  display: table;
}



@media(max-width: 1180px){
  /* For tablets: */
  .col-t-1 {width: 8.33%;}
  .col-t-2 {width: 16.66%;}
  .col-t-3 {width: 25%;}
  .col-t-4 {width: 33.33%;}
  .col-t-5 {width: 41.66%;}
  .col-t-6 {width: 50%;}
  .col-t-7 {width: 58.33%;}
  .col-t-8 {width: 66.66%;}
  .col-t-9 {width: 75%;}
  .col-t-10 {width: 83.33%;}
  .col-t-11 {width: 91.66%;}
  .col-t-12 {width: 100%;} 
}

@media(max-width: 600px){
  /* For phone: */
  .col-p-1 {width: 8.33%;}
  .col-p-2 {width: 16.66%;}
  .col-p-3 {width: 25%;}
  .col-p-4 {width: 33.33%;}
  .col-p-5 {width: 41.66%;}
  .col-p-6 {width: 50%;}
  .col-p-7 {width: 58.33%;}
  .col-p-8 {width: 66.66%;}
  .col-p-9 {width: 75%;}
  .col-p-10 {width: 83.33%;}
  .col-p-11 {width: 91.66%;}
  .col-p-12 {width: 100%;}
}